* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.todo-list {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #1a1a2e;
  margin: 1.5rem 0rem;
  caret-color: transparent;
}

.main-list {
  display: grid;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0rem 2rem;
  grid-template-columns: 88px 1fr 2fr 200px;
}

.list-header {
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 1rem 1rem;
  background: #f0f0f0;
}

.list-item {
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  background: #f0f0f0;
  color: #272727;
}

.delete-btn {
  width: 45%;
  padding: 0.6rem 0.5rem;
  background: #e95a2f;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.3px;
  /* margin-top: 0.4rem; */
  box-shadow: 0 4px 14px rgba(37, 117, 252, 0.3);
  transition:
    background 0.2s,
    transform 0.15s,
    box-shadow 0.15s;
}

.delete-btn:hover {
  background: #d22714;

  box-shadow: 0 6px 18px rgba(37, 117, 252, 0.4);
}

.update-btn {
  width: 44%;
  padding: 0.52rem 1.4rem;
  margin-left: 0.5rem;
  text-decoration: none;
  background: #5ad326;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.3px;
  /* margin-top: 0.4rem; */
  box-shadow: 0 4px 14px rgba(37, 117, 252, 0.3);
  transition:
    background 0.2s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.update-btn:hover {
  background: #15a006;
  box-shadow: 0 6px 18px rgba(37, 117, 252, 0.4);
}
